## Compilation
*.o
*.a
!cmake/libs/*.a
*.so
a.out
include/exception/generated_external_exception_header.hpp
unit_tests

## Vim
*.sw*
\#*#
*~
:*
q
vg
z
/context-forge

## Doxygen
/html
/latex

## CMake
/build
__pycache__

## Other
/runner
#.info
*.sh
perf.data
perf.data.old
CONTEXT.md
